<div id="home">
        <div class="item">
                <img id="intro-pic"src="image/slide2.jpg" class="img-responsive" alt="">
		</div>
	</div>


  <div class="container marketing">
   <!-- Three columns of text below the carousel -->
   <div class="row">
       <div class="col-lg-4">
           <img class="img-circle" type="image/gif" src="image/community.jpg" alt="Generic placeholder image" width="150" height="150">
               <h2 id="feature">Help Your Community</h2>
               </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
           <img class="img-circle" type="image/gif" src="image/family1.png"  alt="Generic placeholder image" width="150" height="150">
               <h2>Bond With Your Family</h2>
               </div><!-- /.col-lg-4 -->
       <div class="col-lg-4">
           <img class="img-circle" type="image/gif" src="image/badge1.jpg" alt="Generic placeholder image" width="150" height="150">
               <h2>Collect Cool Badges</h2>
               </div><!-- /.col-lg-4 -->
   </div><!-- /.row -->


   <!-- START THE FEATURETTES -->

   <hr class="featurette-divider">

   <div class="row featurette">
       <div class="col-md-7">
           <h2 class="featurette-heading">Help Your Community</h2>
           <p class="lead">We believe in the power of trees to transform. <br>
		Your single action is a demonstration that we as a community love and care for our planet. We can reform our world,
	        a single step at a time.</p>
       </div>
       <div class="col-md-5">
           <img class="featurette-image img-responsive center-block" type="image/gif" src="image/community.jpg" alt="Generic placeholder image" style="width:100%" >
               </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
       <div class="col-md-7 col-md-push-5">
           <h2 class="featurette-heading">Bond With Your Family </h2>
           <p class="lead">
	       Learn what it feels like to take care of land. Together with your kids,
	understand and appreciate the nature around. Feel what mother nature feels, owning and caring for your land.</p>
       </div>
       <div class="col-md-5 col-md-pull-7">
           <img class="featurette-image img-responsive center-block" type="image/gif" src="image/family.png" alt="Generic placeholder image" style="width:100%">
               </div>
   </div>

   <hr class="featurette-divider">

   <div class="row featurette">
       <div class="col-md-7">
           <h2 class="featurette-heading">Collect Cool Badges</h2>
           <p class="lead" id="about">Collectibles!!! Show your achievements and accomplishments with friends,
		   family, and the greater community! Showing off a little never hurt anybody</p>

	   	   </div>
       <div class="col-md-5">
           <img class="featurette-image img-responsive center-block" type="image/gif" src="image/badgeset.png" alt="Generic placeholder image" style="width:100%">
               </div>
   </div>

   <hr class="featurette-divider">

   <!-- /END THE FEATURETTES -->

</div>








	<section>
		<div class="container">
			<div class="center">
				<div class="col-md-6 col-md-offset-3">
					<h2>About Us</h2>
					<hr>
				</div>
			</div>
		</div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInRight">
					<img src="image/about.jpg" class="img-responsive" />


                </div><!--/.col-sm-6-->

                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordion1">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                  Who are we?
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>

                            <div id="collapseOne1" class="panel-collapse collapse in">
                              <div class="panel-body">
                                  <div class="media accordion-inner">
                                        <div class="media-body">
                                             <h4>Who are we?</h4>
                                             <p>Have you ever wanted to adopt a pet, but just don't have the space or time? What if I told you, you could adopt a pet while also helping your community and playing a really fun game? Here at Adopt a Tree, we make it easy and enjoyable to adopt trees in your community. </p>
                                        </div>
                                  </div>
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                                  What is Adopting a Tree?
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>Adopting a Tree is an organization where citizens can contribute to the city of San Jose by adopting a tree in their name. They can select the area they want to allocate their tree in and will be notified from time to time to for maintenance. Each adopter will have an Adopt Status Tracker which tracks the status of their adoption. They can also collect cool badges for creating an account, adopting a certain number of trees, checking in on their trees, and more!<br>

									Join today!</p>
				</div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h3 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                  Why should I adopt a tree?
                                  <i class="fa fa-angle-right pull-right"></i>
                                </a>
                              </h3>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse">
                              <div class="panel-body">
                                <p>Beautification, environmental contribution, pride. Trees are one of nature's most diverse gifts, as they come in all shapes, sizes, and colors. Whether you adopt an exotic palm tree or a vibrant cherry blossom tree, the San Jose landscape will look that much more appealing to look at! In addition, trees are environmentally beneficial as they filter the air by absorbing C02 and providing oxygen. Of course there are people who have bricks and buildings named after them...but trees are just as great! Show your community you care by adopting a tree in your name today!</p>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  <h3 class="panel-title">
                                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                                          Contact Us
                                          <i class="fa fa-angle-right pull-right"></i>
                                      </a>
                                  </h3>
                              </div>
                              <div id="collapseThree1" class="panel-collapse collapse">
                                  <div class="panel-body">
                                      <p>Beautification, environmental contribution, pride. Trees are one of nature's most diverse gifts, as they come in all shapes, sizes, and colors. Whether you adopt an exotic palm tree or a vibrant cherry blossom tree, the San Jose landscape will look that much more appealing to look at! In addition, trees are environmentally beneficial as they filter the air by absorbing C02 and providing oxygen. Of course there are people who have bricks and buildings named after them...but trees are just as great! Show your community you care by adopting a tree in your name today!</p>
                                  </div>
                              </div>
                          </div>
                        </div><!--/#accordion1-->
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#about-->
